spring:
  application:
    name: task-service

#  datasource:
#    url: jdbc:postgresql://postgres:5432/taskdb
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
